* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

#formulario{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
    height: 450px;
    text-align: center;
    background-color: #1d3354;
    border-radius: 15px;

}

#titulo{
    font-family: 'Sono', sans-serif;
    color: #E9FFF9;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    
}

.componenteForm{
    text-align: center;
    color: #D64045;
    margin-bottom: 10px;
    
}

h5{
    font-family: 'Sono', sans-serif;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 3px;
}

input[type=text]{
    background-color: #9ed8db;
    color: #467599;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    text-align: center;

}

input[type=number]{
    background-color: #9ed8db;
    color: #467599;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    text-align: center;

}

#btnForm{
    font-family: 'Sono', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 10px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: #D64045;
    color: #9ed8db;

}

#btnForm:hover{
    cursor: pointer;
    background-color: #9ed8db;
    color: #1d3354;
}

#tabela, th, td{
    font-family: 'Sono', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 5pxz;
    text-align: center;
  
}

th{
    background-color: #D64045;
    padding: 2px 5px;
}

tr{
    background-color: #467599;
    

}

.btnTabela{
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #9ed8db;
    width: 85.8px;
    padding: 0.2px;
    border-radius: 3px;
}